<div class="container mt-4">

    <%= render "shared/office_menu" %>

    <h1>Editar registro de oficina</h1>

    <%= render "form" %>

    <hr>

    <%= button_to "Eliminar registro",
      office_employee_day_path(@office_employee_day),
      method: :delete,
      class: "btn btn-danger",
      data: { confirm: "¿Seguro que deseas eliminar este registro?" } %>

</div>