<div class="mb-4">
    <div class="btn-group">
        <%= link_to "Calendario de Oficinistas",
        office_employee_days_path,
        class: "btn btn-secondary" %>

        <%= link_to "Feriados",
        office_holidays_path,
        class: "btn btn-secondary" %>

        <%= link_to "Acumulados",
        office_day_credits_path,
        class: "btn btn-secondary" %>

        <%= link_to "Horas Extra",
        office_overtimes_path,
        class: "btn btn-secondary" %>
    </div>
</div>