 

table tr.location-sara td {
  background-color: #dae3f4 !important;
}

table tr.location-balsa td {
  background-color: #e1f3e5 !important;
}

table tr.location-pm td {
  background-color: #fbf2d5 !important;
}

table tr.location-private td {
  background-color: #bbfaea !important;
}