 

table tr.location-sara td {
  background-color: #dae3f4 !important;
}

table tr.location-balsa td {
  background-color: #e1f3e5 !important;
}

table tr.location-pm td {
  background-color: #fbf2d5 !important;
}

table tr.location-privado td {
  background-color: #bbfaea !important;
}


body {
  background-image: url("roles.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

